* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: radial-gradient(
        circle,
        transparent 20%,
        #ccedf7 20%,
        #ccedf7 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 20px 20px,
    radial-gradient(
        circle,
        transparent 20%,
        #ccedf7 20%,
        #ccedf7 80%,
        transparent 80%,
        transparent
      )
      10px 10px / 20px 20px,
    linear-gradient(#b1b1ff 2px, transparent 2px) 0px -1px / 10px 10px,
    linear-gradient(90deg, #b1b1ff 2px, #ccedf7 2px) -1px 0px / 10px 10px #ccedf7;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  background-color: #ccedf7;
}
header {
  height: 4rem;
  background-color: aqua;
  display: flex;
  align-items: center;
}
h2 {
  font-size: 1.8rem;
}
.title {
  padding: 1rem;
}
.add-btn {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0;
  margin: 1rem;
}
img {
  width: 50%;
}
/* Basic styles for the modal */

.modal {
  display: none; /* for hiding modal initially/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 9% auto;
  padding: 2rem;
  border-radius: 20px;
  width: 25rem;
  position: relative;
}

.close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.8rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="radio"] {
  margin-right: 5px;
  position: relative;
  top: 1.5rem;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addBtn {
  background-color: #28a745;
  color: white;
}
#addBtn:hover {
  background-color: #0ad339;
}
