*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 4rem;
    background-color: aqua;
    display: flex;
}
.title {
    padding: 1rem;
}
.add-btn {
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 0;
    margin: 1rem;
}